/* You can add global styles to this file, and also import other style files */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(169, 210, 247);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}